<div id="about">
    <div style="background-color: #302D39;">
        <div class="jumbotron" id="top-about">
            <div class="jumbo-content">
                <p class="lead jumbo-text jumbo-style">
                    About the Author<br>
                    Sigurd Sæther Sørensen
                </p>
                <a class="btn btn-primary btn-lg jumbo-btn" href="#education" role="button" aria-label="Right Align">Learn More
                    <i class="fas fa-angle-right btn-icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row" id="back-to-top-row">
        <div class="col-12">
            <a id="back-to-top-btn" class="btn btn-primary" href="#top-about" role="button" style="font-size: 24px;">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>
    </div>

    <div class="row light-section" style="padding-top: 5vh; padding-bottom: 5vh;">
        <div class="col-12">
            <h1 id="education">Education</h1>
            <p>
                2018 - 2020 University of Queensland - Master of Interaction Design<br>
                2017 - 2018 University of Southeast-Norway - Year study in IT and Information Systems<br>
                2014 - 2018 University of Southeast-Norway - Bachelor of International Marketing
            </p>
        </div>
    </div>

    <div class="row dark-section" style="padding-top: 5vh; padding-bottom: 5vh;">
        <div class="col-12">
            <h1>About</h1>
            <p>
                My name is Sigurd Sæther Sørensen, born in Norway and currently living in Australia where I'm studying
                master of Interaction Design at University of Queensland. I tend to spend my time learning something new
                or play games. My previous studies, work experience, and voluntary work have given me a solid
                foundation in marketing, leadership, entrepreneurship and programming. It's my goal to complete this
                foundation by adding knowledge from interaction design, graphical design and later on economics. I started
                coding in 2017 and have loved it ever since. My first language was Java, which I still find the most easy
                to use. As of mid 2018 I picked up JavaScript with Node.js and Python, whereas I mostly focus on JavaScript.
                I'm planning to pick up C++ with Unreal Engine next, and supplement with WebAssembly, followed by Kotlin
                for App development later on. As for JavaScript I aim to learn Vue.js by the end of 2018.
            </p>
        </div>
    </div>

</div>