<div id="minerminer">
    <div class="jumbotron">
        <h1 class="display-4">Miner Miner</h1>
        <p class="lead">Experience your morality waver under pressure</p>
        <hr class="my-4">
        <p>As the foreman of a 19th century coal mine, you're part of an ongoing battle between your business'
            survival and the well being of your workers. Every choice you make has a consequence, will your morality waver?</p>
        <a class="btn btn-primary btn-lg" href="#about-concept" role="button">Learn More</a>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <img class="card-img-top nav-images" src="/img/placeholder.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">My Contributions</h5>
                    <p class="card-text">View my contributions to the project.</p>
                    <a href="#" class="btn btn-primary">Take me there</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <img class="card-img-top nav-images" src="/img/placeholder.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project Outcome</h5>
                    <p class="card-text">Reflecting on the project's final outcome.</p>
                    <a href="#" class="btn btn-primary">Take me there</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <img class="card-img-top nav-images" src="/img/placeholder.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Course Reflection</h5>
                    <p class="card-text">Reflecting on the course as a whole.</p>
                    <a href="#" class="btn btn-primary">Take me there</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD BACK TO TOP BUTTON - Absolute position? -->
    <div class="row">
        <div class="col-12">
            <h1 id="about-concept">About the Concept</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>My Contributions</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>Project Outcome</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>Course Reflection</h1>
        </div>
    </div>

</div>