<div id="portfolio">
    <div style="background-color: #302D39;">
        <div class="jumbotron" id="top-portfolio">
            <div class="jumbo-content">
                <p class="lead jumbo-text jumbo-style">
                    The making of this portfolio
                </p>
                <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="https://github.com/Sigurdssorensen/minerminer">View Source Code
                    <i class="fas fa-angle-right btn-icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row" id="back-to-top-row">
        <div class="col-12">
            <a id="back-to-top-btn" class="btn btn-primary" href="#top-portfolio" role="button" style="font-size: 24px;">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>
    </div>

    <div class="row light-section" style="padding-top: 5vh; padding-bottom: 5vh;">
        <div class="col-12">
            <h1 id="education">Process</h1>
            <p>
                The process of creating this portfolio was pretty straight forward. The portfolio was to
                showcase our style as a designer. The fact is that I'm not yet a designer, and have not learned
                anything about design yet. Therefore, I chose to focus on my strength which is back-end. This is
                how the terminal window and browser came to be. After that I tried to create something that looked
                good to supplement the functionality in the back-end.
            </p>
            <p>
                The though of creating a virtual browser inside of the viewport, actually worked out quite
                nice. As for the design itself, it's a work in progress of which will become better alongside my
                skills.
            </p>
        </div>
    </div>

</div>