<% include partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card" id="cmd-card">
                <div class="card-header" id="cmd-header">
                    Terminal
                </div>
                <div class="card-body" id="cmd-outer">
                    <blockquote class="blockquote mb-0">
                        <div id="cmd">
                            <span>---------------------------------</span></br>
                            <span>Hi there! Welcome to my portfolio</span></br>
                            <span>---------------------------------</span></br>
                            <span>Use the 'help' command to get started. <br>'help' can be used at any time.</span><br><br>
                            <span></span><br>
                            <span>C:\Home\></span>
                            <span id="command-line"></span>
                            <div id="cursor"></div>
                        </div>
                        <input id="the-input" type="text" name="command" value="" autofocus/>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="card" id="browser-card">
                <div class="card-header" id="browser-header">
                    Browser
                </div>
                <div class="card-body" id="browser-outer">
                    <blockquote class="blockquote mb-0" id="insert-browser">
                        <div class="browser-body scroll">
                            <!-- INCLUDE HERE -->
                            <% include partials/portfolio %>
                            <% include partials/minerminer %>
                            <% include partials/about %>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>