<link rel="stylesheet" type="text/css" href=" <%= css_file %>">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
<h1>Portfolio</h1>


<div class="card" id="cmd-card">
    <div class="card-header" id="cmd-header">
       Terminal
    </div>
    <div class="card-body" id="cmd-outer">
        <blockquote class="blockquote mb-0">
            <div id="cmd">
                <span>------------------------</span></br>
                <span>Welcome to my portfolio!</span></br>
                <span>------------------------</span></br>
                <span>Use the 'help' command to list all terminal commands</span></br>
                <span></span><br>
                <span>C:\HOME\></span>
                <span id="command-line"></span>
                <div id="cursor"></div>
            </div>
            <input id="the-input" type="text" name="command" value="" />
        </blockquote>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="<%= js_file %>"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Terminal (cmd) window -->

<!-- Browser (view) window -->

<!-- Background (desktop?) -->