/* https://stackoverflow.com/questions/3758023/how-to-use-this-square-cursor-in-a-html-input-field */
body {
  /*background: url("/img/background.png") no-repeat;
  background-size: cover; */ }

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

.scroll::-webkit-scrollbar {
  width: 0.5em; }

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }

.scroll::-webkit-scrollbar-thumb {
  background-color: #666666;
  outline: 1px solid white; }

#cmd-card {
  width: 100%; }
  #cmd-card #cmd-header {
    color: slategrey;
    background-image: linear-gradient(to bottom, whitesmoke, lightgrey);
    /*background: #3b4045; */ }
  #cmd-card #cmd-outer {
    background: black;
    padding: 10px 10px 10px 10px; }
    #cmd-card #cmd-outer #cmd {
      font-family: courier;
      font-size: 14px;
      background: black;
      color: #21f838;
      padding: 5px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 50vh; }
      #cmd-card #cmd-outer #cmd #cursor {
        float: left;
        width: 5px;
        height: 14px;
        background: #21f838; }
    #cmd-card #cmd-outer #the-input {
      width: 0;
      height: 0;
      opacity: 0;
      /* end code snippet */ }

#cmd span {
  float: left;
  padding-left: 3px;
  /* white-space: pre; */
  word-wrap: break-word;
  display: block; }

#portfolio, #minerminer, #about {
  display: none; }

#browser-card {
  width: 100%; }
  #browser-card h1 {
    color: #000000; }
  #browser-card p, #browser-card span {
    color: #000000;
    font-size: 18px; }
  #browser-card .my-4 {
    margin: 0 0 0 0 !important; }
  #browser-card .dark-section {
    background-color: #666666;
    padding: 0 1.25rem 0 1.25rem; }
  #browser-card .light-section {
    background-color: #AFAFAF;
    padding: 0 1.25rem 0 1.25rem; }
  #browser-card .light-section-no-pad {
    background-color: #AFAFAF; }
  #browser-card .card-section {
    background-color: #AFAFAF;
    padding: 0 1.25rem 0 1.25rem; }
  #browser-card .card-section a {
    font-size: 14px; }
  #browser-card #browser-header {
    color: slategrey;
    background-image: linear-gradient(to bottom, whitesmoke, lightgrey);
    /*background: #3b4045; */ }
  #browser-card #browser-outer {
    background: #fdfdfd;
    padding: 10px 10px 10px 10px; }
    #browser-card #browser-outer .browser-body {
      font-size: 14px;
      color: black;
      padding: 5px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 80vh;
      max-height: 80vh; }
      #browser-card #browser-outer .browser-body #jumbo-background-image {
        background: url("/img/minerminer-hero.png") no-repeat center;
        background-size: cover; }
      #browser-card #browser-outer .browser-body .jumbo-style {
        color: #AFAFAF; }
      #browser-card #browser-outer .browser-body #top {
        background-color: rgba(0, 0, 0, 0);
        margin-bottom: 0; }
      #browser-card #browser-outer .browser-body .jumbo-text {
        padding-top: 15%; }
      #browser-card #browser-outer .browser-body .btn {
        background-color: rgba(0, 0, 0, 0);
        color: #FCD21D;
        border-color: rgba(0, 0, 0, 0); }
        #browser-card #browser-outer .browser-body .btn i {
          vertical-align: inherit; }
        #browser-card #browser-outer .browser-body .btn .btn-icon {
          padding-left: 5px; }
      #browser-card #browser-outer .browser-body .btn:hover {
        border-color: #FCD21D; }
      #browser-card #browser-outer .browser-body .quote-indent {
        padding-left: 2rem;
        border-left: 4px solid black; }
      #browser-card #browser-outer .browser-body .minerminer-card {
        background-color: #302D39; }
        #browser-card #browser-outer .browser-body .minerminer-card h5 {
          font-size: 1.15rem; }
        #browser-card #browser-outer .browser-body .minerminer-card p {
          font-size: 14px; }
        #browser-card #browser-outer .browser-body .minerminer-card .card-colour {
          color: #AFAFAF; }
      #browser-card #browser-outer .browser-body .nav-images {
        height: auto;
        width: auto;
        max-width: 100%; }
    #browser-card #browser-outer #nav-contributions {
      position: relative;
      height: 400px;
      overflow: auto;
      padding-top: 3vh; }
    #browser-card #browser-outer .nav-header {
      margin-left: 1.5rem; }
    #browser-card #browser-outer .nav-body {
      margin-left: 1.5rem;
      padding-right: 1.5rem; }
    #browser-card #browser-outer .nav-pills a {
      color: #FCD21D;
      border-color: rgba(0, 0, 0, 0); }
    #browser-card #browser-outer .nav-link.active {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #FCD21D; }
    #browser-card #browser-outer .paragraph-spacing {
      padding-bottom: 1.5rem; }
    #browser-card #browser-outer .process-list-div {
      text-align: center;
      padding-top: 10%; }
    #browser-card #browser-outer .process-list {
      display: inline-block;
      padding: 0 0 1.5rem 0; }

#back-to-top-row {
  position: fixed;
  bottom: 4%;
  left: 62%;
  z-index: 5; }

#back-to-top-btn {
  border-radius: 50%; }

@media (min-width: 576px) {
  .nav-images {
    max-height: 40vh !important; }
  #back-to-top-row {
    left: 71%; } }

@media (min-width: 768px) {
  .nav-images {
    max-height: 40vh !important; }
  #back-to-top-row {
    left: 79%; } }

@media (min-width: 992px) {
  .nav-images {
    max-height: 20vh !important; }
  #back-to-top-row {
    left: 90%;
    padding-bottom: 7vh; }
  .jumbo-content {
    padding-left: 10%; } }

@media (min-width: 1200px) {
  .nav-images {
    max-height: 20vh !important; }
  #back-to-top-row {
    left: 90%;
    padding-bottom: 7vh; } }
